<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    <body>
        <div class="container-fluid">
        	<div class="row">
               <div class="col-xs-4 item-photo">
                    <img style="max-width:100%;" src="<%= pitch.image %> "/>
                </div>
                <div class="pt-5 col-xs-5" style="border:0px solid gray">
                    <h3><%= pitch.title %> </h3>
        
                    <h6 class="title-price"><small>Live Link</small></h6>
                    <a href="<%= pitch.link %> " style="margin-top:0px;">Link</a>
                    
                    <div class="like">
                        <button onclick="like()">&#128077;</button>
                        <span id="pLikes">like</span>
                    </div>
                    <div class="disLike">
                        <button onclick="disLike()">&#128078;</button>
                        <span id="pDisLikes">like</span>
                    </div>
        
                    <div class="section" style="padding-bottom:20px;">
                        <button class="btn btn-success mt-2"><span style="margin-right:20px" aria-hidden="true"></span> Donate </button>
                    </div>                                        
                </div> 
                                            
        
                <div class="col-xs-9">
                    <ul class="menu-items">
                        <li class="active">Details</li>
                        <li>Disscussion</li>
                    </ul>
                    <div style="width:100%;border-top:1px solid silver">
                        <p style="padding:15px;">
                            <small>
                            <%= pitch.description %> 
                            </small>
                        </p>
                        <small>
                            <%= pitch.summary %> 
                        </small>
                    </div>
                </div>		
            </div>
        </div>
        
        <style>
            ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
        li.active{border-bottom:3px solid silver;}
        
        .item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
        .menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
        .btn-success{width:100%;border-radius:0;}
        .section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
        .title-price{margin-top:30px;margin-bottom:0;color:black}
        .title-attr{margin-top:0;margin-bottom:0;color:black;}
        .btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
        .btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
        div.section > div {width:100%;display:inline-flex;}
        div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
        .attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
        .attr.active,.attr2.active{ border:1px solid orange;}
        
        @media (max-width: 426px) {
            .container {margin-top:0px !important;}
            .container > .row{padding:0 !important;}
            .container > .row > .col-xs-12.col-sm-5{
                padding-right:0 ;    
            }
            .container > .row > .col-xs-12.col-sm-9 > div > p{
                padding-left:0 !important;
                padding-right:0 !important;
            }
            .container > .row > .col-xs-12.col-sm-9 > div > ul{
                padding-left:10px !important;
                
            }            
            .section{width:104%;}
            .menu-items{padding-left:0;}
        }
        </style>

    </body>
</html>

<script>
    var likes = Math.floor(Math.random());
    var disLikes = Math.floor(Math.random());
    var user = "none";

    // Show the likes and the dislikes on html
    var pLikes = document.getElementById("pLikes");
    var pDisLikes = document.getElementById("pDisLikes");
    pLikes.innerHTML = likes;
    pDisLikes.innerHTML = disLikes;

    function like() {
        if (user == "none" || user == "dislike") {
            likes += 1;
            if (user == "dislike") disLikes -= 1;
            user = "like";

            pDisLikes.style.color = "black";
            pLikes.style.color = "green";
        } else if (user == "like") {
            likes -= 1;
            user = "none";

            pDisLikes.style.color = "black";
            pLikes.style.color = "black";
        }
        /* show the changes to the user */
        pLikes.innerHTML = likes;
        pDisLikes.innerHTML = disLikes;
    }

    function disLike() {
        if (user == "none" || user == "like") {
            disLikes += 1;
            if (user == "like") likes -= 1;
            user = "dislike";

            pDisLikes.style.color = "red";
            pLikes.style.color = "black";
        } else if (user == "dislike") {
            disLikes -= 1;
            user = "none";

            pDisLikes.style.color = "black";
            pLikes.style.color = "black";
        }
        /* show the changes to the user */
        pLikes.innerHTML = likes;
        pDisLikes.innerHTML = disLikes;
    }

</script>
